.movie-review {
  padding: 20px 10px;
  border-bottom: 0.5px solid #eeeeee;
}

.author-box {
  display: inline-block;
  border-bottom: 0.3px solid #eeeeee;
  padding: 3px;
  margin-bottom: 10px;
}

.toggle-button {
  border: 0;
  font-size: 9px;
  margin-top: 5px;
}

.insvisible {
  display: none;
}
