.carousel-container {
  overflow: hidden;
  height: 220px;
  margin-bottom: 50px;
}
@media (max-width: 720px) {
  .carousel-container {
    height: 170px;
  }
}
@media (max-width: 480px) {
  .carousel-container {
    height: 150px;
  }
}

.slider-title {
  padding-left: 10px;
}
