.carousel-container {
  overflow: hidden;
  height: 360px;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .carousel-container {
    height: 330px;
  }
}

@media (max-width: 650px) {
  .carousel-container {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    height: 300px;
  }
}
