.movie-card {
  width: 200px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
}

.movie-card:hover {
  transform: scale(1.2) translateZ(20px);
  z-index: 2;
}

@media (max-width: 800px) {
  .movie-card {
    transform: scale(0.9);
  }

  .movie-card:hover {
    transform: scale(1.08) translateZ(20px);
    z-index: 2;
  }
}

@media (max-width: 650px) {
  .movie-card {
    transform: scale(0.75);
  }

  .movie-card:hover {
    transform: scale(0.9) translateZ(20px);
    z-index: 2;
  }
}

@media (max-width: 500px) {
  .movie-card {
    transform: scale(0.65);
  }

  .movie-card:hover {
    transform: scale(0.78) translateZ(20px);
    z-index: 2;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
  color: white;
  background: rgba(43, 41, 41, 0.8);
  font-weight: bold;
  overflow-wrap: break-word;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay:hover {
  opacity: 1;
}

.movie-info {
  display: flex;
  flex-direction: column;
}

.genre-list {
  margin: 2px;
}

.genre {
  margin-right: 2px;
}
